.cvHeading{
    background-color: rgb(45, 7, 63);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

.appForms{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 30px;
    
}
.inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 10px;
}
input{
    height: 20px;
    border-radius: 8px;
    border-color: white;
}
.formTitle{
    background-color: rgb(195, 197, 197);
}
.genformTitle{
    padding: 1px 20px;
    background-color: rgb(195, 197, 197);
    border-radius: 10px;
    margin-bottom: 10px;
}
.generalForm{
    background-color: rgb(195, 197, 197);
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.eduformTitle{
    padding: 1px 20px;
    background-color: rgb(172, 169, 173);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.eduForm{
    background-color: rgb(172, 169, 173);
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.pracFormTitle{
    padding: 1px 20px;
    background-color: rgb(183, 183, 194);
    border-radius: 10px;
}
.formToggleArrow{
    padding-left: 40px;
    cursor: pointer;
}
.pracForm{
    margin-top: 20px;
    background-color: rgb(183, 183, 194);
    width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.formButtons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 10px;
}    
.formsAndResume{
    display: flex;
    justify-content: space-around; 
    background-color: rgba(187, 187, 183, 0.6);
    height: 100%;
   
}
.myResume{
    background-color: rgb(253, 248, 248);
    margin-top: 40px;
    height: 150vh;
    width: 50em;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.eduDisplay, .pracInfoDisplay{
    padding: 20px;
}
.eduHeading, .pracInfoHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(57, 57, 65, 0.1);
}
.eduContent, .pracInfoContent{
    display: flex;
    justify-content: space-around;
    line-height: 15px;
    
}
.genInfoDisplay{
    background-color: rgb(57, 57, 65);
    padding: 20px;
    color: azure;
}
.genInfoHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.genInfoContent{
    display: flex;
    justify-content: space-around;
    line-height: 1px;
    flex-wrap: wrap;
}
p{
    font-size: large;
}